# temp folder
tmp

# Frontend asset
web/dist

# Build artifacts
build/
bin/

.DS_Store

# Jetbrains
.idea

# Docker Compose Environment File
.env

dist

# VSCode settings
.vscode

# Python
memos-python-client/venv/
memos-python-client/memos_client.egg-info/
memos-python-client/build/
memos-python-client/dist/
**/__pycache__/
